    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .container {
        position: fixed;
        top: 1%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: rgb(219, 240, 250);
        text-align: center;
        width: 750px;
        border: solid 5px blue;
    }

    h1 {
        color: blueviolet;
        text-align: center;
        font-size: x-large;
    }

    h4 {
        color: blue;
        text-align: center;
    }

    p {
        margin-bottom: 2px;
    }

    span {
        color: red;
    }

    .mInput {
        width: 50%;
    }

    .mButton {
        width: 20%;
    }

    .mText {
        text-align: justify;
        margin-left: 20%;
        margin-bottom: 5%;
    }