    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .container {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: rgb(219, 240, 250);
        text-align: center;
        padding: 2%;
        width: 350px;
        border: solid 5px blue;
    }

    h1 {
        color: blueviolet;
        text-align: center;
    }
    h4 {
        color: blue;
        text-align: center;
    }

    .mInput {
        width: 50%;
    }

    .mButton {
        width: 45%;
    }